*{
    font-family: 'Work Sans', sans-serif;

}
.navbar{
    background-color: white;
    opacity: 1;
}
#page-home{
    height: 680px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
}
.home-layer{
    height: 680px;
    background-color: rgba(17, 111, 235, 0.247);
}
.home-text{
    margin-top: 20%;

}
.navbar-items :hover{
    color:#207fdd !important;
}
.table{
    font-size:14px;
    color:white;
}

#why-us{
    background-image: url("../images/choose.jpg");
    background-size: cover;
}
.why-layer{
    background-color: rgba(255, 255, 255, 0.856);
}
.clrx{
    clear: both;
    overflow: auto;
}
.form-app{
    border-radius: 20px;
    border: 2px solid rgba(226, 226, 226, 0.733);
}
.form-app input{
    border-radius: 20px;
}

.nav-pills{
    margin-left: 20%;
}

.doc-txt{
    padding: 10px;
    border: 1px solid rgb(212, 212, 212);
}
.doc-card h6{
    color:#007bff;
}
.nav-link{
    border-radius: 20px !important;
}

#comments{
    height:435px;
    background-image: url("../images/comment.jpg");
    background-size: cover;
}
.layer{
    background-color: rgba(255, 255, 255, 0.815);
}

.hvr-my:hover{
    background-color: white !important;
    color:#007bff !important;
}
.clrx{
    clear: both;
    overflow: hidden;
}
button{
    border: 1px solid #207fdd !important;
}

.sc1, .sc2, .sc3, .sc4, .sc5, .sc6, .sc7, .sc8{
    border:0px solid #d8d8d8;

}

.arr-top{
    position: fixed;
    bottom:2%;
    right:2%;
    z-index: 6565;
    opacity: 0;
}